<%- include('partials/head.ejs') %> 

<h1>Hey, good for you!</h1>
<h2>You successfully changed: </h2>

<h4><%= document %> </h4>

<h1><%= newKey  %> - <%= newValue  %> </h1>

<a href="/home"><h1>Take me back home, please</h1></a>
    
</body>
</html>