<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home EjS!</title>
        <script
            src="https://kit.fontawesome.com/a261a07bf1.js"
            crossorigin="anonymous"
        ></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="./style.css" />
        <!-- <script type="module" src="../src/config.js"></script> -->
        <!-- this is our firebase config stuff -->
        <!-- but i'm not sure where this file is.... or whether i'm using it at all... -->
        <!-- <script src="../src/app.js" defer></script> -->
        <!-- this is supposed to be... our authorization script?
        YO I CHANGED THIS, APP.JS IS NOW OUR SERVER -->
    </head>

    <body>