<div class="uploader">
  <h3>Upload a song</h3>
    <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
        <!-- we need enctype="multipart/form-data" if the form is going to upload files -->
        <label for="myfile">Select file:</label>
        <input type="file" id="myfile" name="myfile" accept="audio/mpeg" required><br><br>
        <!-- the above line is attempting to restrict acceptable files to anything audio, with any audio extension. might need to limit this to mp3, let's play arouynd -->
        <label for="songname">Song Name:</label>
        <input type="text" name="songname" id="songname" placeholder="enter a title" required>
        <label for="superhero">Superhero:</label>
        <input type="text" name="superhero" id="superhero" placeholder="choose a superhero" required>
        <label for="planet">Planet:</label>
        <input type="text" name="planet" id="planet" placeholder="what planet is it from?" required>
        <label for="beatle">Beatle:</label>
        <input type="text" name="beatle" id="beatle" placeholder="think of a Beatle" required>
        <label for="artifact">Artifact:</label>
        <input type="text" name="artifact" id="artifact" placeholder="choose an artifact" required>
        <label for="image">Image url:</label>
        <input type="text" name="image" id="image" placeholder="image url (not required)">
        <input class="rockapella" type="submit" value="Do it, Rockapella!">
      </form>
</div>


