/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */



/* .dg.main.a {
    
    display: none;
} */
/* this is the dat.gui display */

/* .dg.main.a.show {
    display: block;
} */
/* this is when we click out gui-button button to add the .show class! */

