/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */


.dg.main.a {
  /* this is the dat.gui display */
  display: none;
}

.dg.main.a.show {
  /* this is when we click out gui-button button to add the .show class! */
  display: block;
}